<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".binm" mimeType="text/html" />
            <mimeMap fileExtension=".obj" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
